.p-fixed {
  position: fixed;
}

.p-sticky {
  position: sticky;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.thumbnail {
  width: 111px;
  height: 111px;
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.clear-fix {
  @include clearfix();
}
