.container {
      display: flex;
      flex-wrap: wrap;
      max-width: 80%;
      padding: 0 1rem;
}

.container-xxs {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      @include respond-to(xs) {
            max-width: 80%;
      }
}

.container-xs {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      @include respond-to(sm) {
            max-width: 80%;
      }
}

.container-sm {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      @include respond-to(md) {
            max-width: 80%;
      }
}

.container-md {
      max-width: 100%;
      @include respond-to(lg) {
            max-width: 80%;
      }
}

.container-lg {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      @include respond-to(xl) {
            max-width: 80%;
      }
}

.container-xl {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      @include respond-to(xxl) {
            max-width: 80%;
      }
}

.container-xxl {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      @include respond-to(xxl) {
            max-width: 80%;
      }
}

@for $i from $start to $end {
      .col-#{$i} {
            width: calc($percentage / ($cols / $i));
      }
      .offset-#{$i} {
            margin-left: calc($percentage / ($cols / $i));
      }
      @include respond-to(xxs) {
            .col-xxs-#{$i} {
                  width: calc($percentage / ($cols / $i));
            }
            .offset-xxs-#{$i} {
                  margin-left: calc($percentage / ($cols / $i));
            }
      }
      @include respond-to(xs) {
            .col-xs-#{$i} {
                  width: calc($percentage / ($cols / $i));
            }
            .offset-xs-#{$i} {
                  margin-left: calc($percentage / ($cols / $i));
            }
      }
      @include respond-to(sm) {
            .col-sm-#{$i} {
                  width: calc($percentage / ($cols / $i));
            }
            .offset-sm-#{$i} {
                  margin-left: calc($percentage / ($cols / $i));
            }
      }
      @include respond-to(md) {
            .col-md-#{$i} {
                  width: calc($percentage / ($cols / $i));
            }
            .offset-md-#{$i} {
                  margin-left: calc($percentage / ($cols / $i));
            }
      }
      @include respond-to(lg) {
            .col-lg-#{$i} {
                  width: calc($percentage / ($cols / $i));
            }
            .offset-lg-#{$i} {
                  margin-left: calc($percentage / ($cols / $i));
            }
      }
      @include respond-to(xl) {
            .col-xl-#{$i} {
                  width: calc($percentage / ($cols / $i));
            }
            .offset-xl-#{$i} {
                  margin-left: calc($percentage / ($cols / $i));
            }
      }
      @include respond-to(xxl) {
            .col-xxl-#{$i} {
                  width: calc($percentage / ($cols / $i));
            }
            .offset-xxl-#{$i} {
                  margin-left: calc($percentage / ($cols / $i));
            }
      }
}