/*
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  cursor: default;
  font-size: 16px;
  tab-size: 4;
  -o-tab-size: 4;
  line-height: 1.5;
  overflow-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

/*
 * Fill the viewport block in all browsers.
 * Remove the margin in all browsers.
*/

body {
  margin: 0;
  block-size: stretch;
  block-size: -moz-available;
  block-size: -webkit-fill-available;
}

/*
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
*/

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/*
 * Remove the gray background on active links in IE 10.
*/

a {
  background-color: transparent;
}

/*
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/*
 * Add the correct font weight in Chrome, Edge, and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
 * Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
 * Remove the border on images inside links in IE 10.
*/

img {
  border-style: none;
}

/*
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
*/

button,
input {
  overflow: visible;
}

/*
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
*/

button,
select {
  text-transform: none;
}

/*
 * Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/*
 * Remove the inner border and padding in Firefox.
*/

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/*
 * Restore the focus styles unset by the previous rule.
*/

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/*
 * Correct the padding in Firefox.
*/

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/*
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
*/

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/*
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/

progress {
  vertical-align: baseline;
}

/*
 * Remove the default vertical scrollbar in IE 10+.
*/

textarea {
  overflow: auto;
}

/*
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
*/

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/*
 * Correct the cursor style of increment and decrement buttons in Chrome.
*/

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/*
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
*/

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/*
 * Remove the inner padding in Chrome and Safari on macOS.
*/

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
*/

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
*/

summary {
  display: list-item;
}

/*
 * Add the correct display in IE 10+.
*/

template {
  display: none;
}

/*
 * Add the correct display in IE 10.
*/

[hidden] {
  display: none;
}

//*****************************************************************

/*
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Add typography inheritance in all browsers (opinionated).
 * 3. Remove the margin in Firefox and Safari.
*/

button,
input,
select,
textarea {
  background-color: transparent;
  border: 1px solid WindowFrame;
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: 1.15;
  letter-spacing: inherit;
  padding: 0.25em 0.375em;
}

/*
 * Change the inconsistent appearance in all browsers (opinionated).
*/

select {
  appearance: none;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E")
    no-repeat right center / 1em;
  border-radius: 0;
  padding-right: 1em;
}

/*
 * Don't show the arrow for multiple choice selects
*/

select[multiple] {
  background-image: none;
}

/*
 * Remove the border and padding in all browsers (opinionated).
*/

[type="color"] {
  border-width: 0;
  padding: 0;
}

/*
 * Restrict sizing to the page width in all browsers (opinionated).
*/

iframe,
img,
input,
video,
select,
textarea {
  height: auto;
  max-width: 100%;
}

/*
 * Change the alignment on media elements in all browsers (opinionated).
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove the border on iframes in all browsers (opinionated).
*/

iframe {
  border-style: none;
}

/*
 * Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
  * Correct the text style of placeholders in Chrome, Edge, and Safari.
*/

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/*
  * Remove the inner padding in Chrome, Edge, and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
  * 1. Correct the inability to style upload buttons in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
  * Add the correct styles in Safari.
*/

dialog {
  background-color: white;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
  * Add the correct display in Safari.
*/

details > summary:first-of-type {
  display: list-item;
}

/*
  * Change the cursor on control elements in all browsers (opinionated).
*/

[aria-controls] {
  cursor: pointer;
}
