.carousel {
  width: 85vw;
  height: 500px;
  position: relative;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge {
  position: absolute;
  top: 45px;
  left: 45px;
  padding: 5px 10px;
  border-radius: 7px;
  z-index: 101;
  user-select: none;
}

%img {
  z-index: 100;
  position: absolute;
  width: 85vw;
  height: 500px;
  transition: opacity 1s ease-in-out;
}

.carousel__img {
  @extend %img;
  opacity: 0;

  &--active {
    @extend %img;
    opacity: 1;
  }
}

%btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 102;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  background-color: teal;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: x-large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

:is(.carousel__prev, .carousel__next) {
  @extend %btn;
}

.carousel__prev,
.carousel__prev--disabled {
  left: 45px;
}

.carousel__next,
.carousel__next--disabled {
  right: 45px;
}

.carousel__prev--disabled,
.carousel__next--disabled {
  @extend %btn;
  cursor: no-drop;
  // pointer-events: none;
  background-color: rgba(0, 128, 128, 0.575);
}

.carousel__indicators {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101;
}

.carousel__indicators li {
  display: inline-flex;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  border: 2px solid teal;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

.carousel__indicators li:not(:last-child) {
  margin-right: 5px;
}

.carousel__indicators li:hover {
  background-color: teal;
  cursor: pointer;
}

.carousel__indicators li:is(.active) {
  cursor: pointer;
  background-color: teal;
}

.carousel__indicators li label {
  cursor: pointer;
  color: white;
  user-select: none;
}
